body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    background-color: #fff;
}
h1{
    text-align: center;
    font-family: Agbalumo;
    color: #fff;

}
.oi{
    color: #e1e1e1;
    background-color: none;
    background-image: url(img/milky-way-2695569.jpg);

}
a{
    text-decoration: none;
    color: #fff;
}
.header{
    background-color: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}
.menu{
    display: flex;
    background-color: #1d1e20;
}
.menu li{
    margin-left: 20px;
    background-color: #1d1e20;
}
.menu a{
    display: block;
    background-color: #1d1e20;
    text-decoration: none;
    text-align: center;
    text-align: justify;
}
#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    background-color: #ffffff;
    font-family: Agbalumo;
    background-image: url(img/milky-way-2695569.jpg);
    background-size: cover;
}
.item{
    background-color: #575353;
    color: #ffffffcc;
    padding: 20px;
    margin: 5px;
    width: 300px;
}
img{
    width: 261px;
    height: 180px;
}

#pia{
    width: 34px;
    height: 34px;
}

.navbar-brand a{
    text-decoration: none;
    color: #fff;
}
.navbar{
    background-color: #1d1e20;
    
}
.titulo{
    text-align: center;
    font-family: Agbalumo;
    color: #fff;
}
#quadrantes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    background-color: #ffffff;
    font-family: Agbalumo;
    background-image: url(img/milky-way-2695569.jpg);
    background-size: cover;

}
p{
    font-family: Agbalumo;
    background-color: #575353;
}
.item h4{
    color: #fff;
}
.item p{
    color: #ffffffa9;
}
.navbar a{
    color: #fff;
}
.navbar div{
    height: 40px;
}
.navbar-brand{
    background-color: #1d1e20;
}